/** TODO: mobile theming **/
:root {
    --color-primary: #AE7435;
    --color-unselected: #A1A1A1;
}

body {
    width: 800px;
    margin: 0 auto;
    height: 100vh;
    background: linear-gradient(60deg, black 0%, #2F2F30 40%);
    color: var(--color-unselected);
    font-family: Arial, helvetica, sans;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 24px 0;
}

nav button {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    color: var(--color-unselected);
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
}

nav button.selected {
    color: var(--color-primary);
}

nav button:hover {
    cursor: pointer;
}

footer {
    margin-top: auto;
    margin-bottom: 24px;
    text-align: center;
}

footer a {
    color: inherit;
}

svg {
    display: inline-block;
}

button.selected {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.main-skilltree-window {
    display: flex;
    gap: 10px;
    height: 80vh;
}

.skilltree-selection {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 10px;
}

.skilltree-selector.selected {
    border: 1px solid var(--color-primary);
}

.skilltree-selection svg {
    max-width: 15vh;
}

.skilltree-selector {
    border: 1px solid var(--color-unselected);
    padding: 4px;
    min-height: 0;
    background: linear-gradient(60deg, black 0%, #2F2F30 90%);
}

.skilltree-selector:hover {
    cursor: pointer;
    border: 1px solid var(--color-primary);
}

.active-skilltree {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.active-skilltree-svg {
    min-height: 0;
}

.active-skilltree svg {
    height: 100%;
}

.active-skilltree-title {
    margin: 0
}

.active-skilltree-level {
    margin: 0;
}

.active-skilltree-subtext {
    flex-grow: 1;
    min-height: 100px;
}

.clear-all {
    text-decoration: underline;
}

.clear-all:hover {
    cursor: pointer;
}

svg .main-skill-node:hover {
    cursor: pointer
}

.selected-skill h4 {
    padding: 0;
    margin: 0;
}

.selected-skill p {
    padding: 0;
    margin: 0;
}
